doctype html
html
	head
			title 📦 Modules Everywhere
			meta(charset='utf-8')
			script(src='slides.js')
			link(href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700' rel='stylesheet' type='text/css')
			link(href='styles.css'  rel='stylesheet' type='text/css')
		body
			section.slides.layout-regular.template-default

				article
					p Yaay the projector works
					small You may need to zoom out a little if the text is too big

				section.slides.layout-regular.template-default
				article.first
					h1(style="font-size:96px; text-transform: uppercase") Modules Everywhere
					br
					a(href='http://mikemaccana.com') mikemaccana.com
					a(href='http://twitter.com/mikemaccana') @mikemaccana

				article
					h2(style="font-size:60px;") I'll tweet a link out to the slides after the talk.
					img(src='images/twitter-logo.png', style="height: 260px; width: 300px; margin:100px auto")
					h2
						a(href='http://twitter.com/mikemaccana', target='_blank') @mikemaccana

				article
					div.row("display: flex; justify-content: center; flex-direction: row; align-items: flex-start;")
						img.high(src="images/uncompromise.png", style="height: 150px; float; left; padding: 6px")
						img.high(src="images/firework.png", style="height: 150px; float; left; padding: 6px")
						img.high(src="images/mycognition.png", style="height: 150px; float; left; padding: 6px")
						img.high(src="images/facebook-ratings-and-reviews.png", style="height: 150px; float; left; padding: 6px")
						img.high(src="images/ginjs.png", style="height: 150px; float; left; padding: 6px")
						img.high(src="images/google-10th-birthday-germany.png", style="height: 150px; float; left; padding: 6px")
					h3 Built stuff for Google, Microsoft, <br/>and a whole bunch of startups.

				article
					video(src="images/certsimple-live-validation-full.mp4" loop autoplay)
					h2 CertSimple

				article.plain
					h2 Fast painless EV SSL
					h1
						a(href="http://certsimple.com", style="color: white; font-size: 96px") certsimple.com

				article
					h1 How CertSimple is built
					ul.build
						li We use npm on the backend
						li We use npm on the frontend
						li All our code lives in npm modules

				article
					p Why we chose npm
					p How you can use npm
					p Things to be aware of

				article
					h1 npm is where the packages are
					img.high(src="images/module-counts.png", style="height: 500px")
					small JSPM: 451 modules

				article
					h1 Every frontend package  CertSimple needed was officially maintained on npm
					img.high(src="images/packages.png", style="height: 650px")

				article
					h1 Things we didn't yet know we needed
					ul.build
						li country-data
						li superagent
						li sorts

				article
					h1 frontend attitude to npm
					img.high(src="images/frontend-attitude.png", style="height: 650px")

				article
					h1 Other module formats?
					ul.build
						li window globals are dead
						li RequireJS never had a module repository - dead
						li UMD only exists because of globals and Require
						li Very few ES6 packages, and they’ll be on npm anyway

				article
					h1 USE REAL PROJECTS, NOT STACKOVERFLOW

				article
					h1 modules everywhere
					img.high(src="images/izs.png", style="height: 500px")

				article
					h1 Why just modules?
					ul.build
						li Simple imports
						li Modules make great containers
						li Consistency
						li Easier to open source

				article
					h2 Building,  & bundling npm modules
					img.high(src="images/bundling-comparison.png", style="height: 500px")

				article
					h1 GULP AND BROWSERIFY

				article
					h1 Basic browserify
					.halves.build
						.half
							p js/src/index.js
							img(src="images/src.png" style="padding:20px;")
							p Imports a module


						.half
							p js/dist/index.js
							img(src="images/dist.png" style="padding:20px;")
							p That module, and all it's dependencies

				article
					h1 What about templates? And styles?
					img(src="images/a-module.svg", style="height: 500px")

				article
					h1 Things to know about
					h2(style="font-size:116px;") 🔥

				article
					h1 Analysing bundle size

				article
					h1 discify
					img(src="images/discify.png", style="height: 500pxl padding: 20px")

				article
					h1 Your modules are more interesting than other people's
					p Create a Sublime .project file that prioritises private npm modules

				article
					h1 Deploying
					p package.json only specifies versions for your immediate dependencies
					ul.build
						li a version 1.0.0 - only use b version 1.2.0
						li b version 1.2.0 - use version c 1.0.0 or newer
						li c - could be any version newer than 1.0.0

				article
					h1 npm shrinkwrap
					p Provides consistent deploys
					p Specifies the full tree, all the way down
					p Built into npm

				article
					h1 npm dedupe
					p Moves modules to the top so they can be shared
					p In NPM v3

				article
					h1.big What do we get
					p Modularity!
					p All aspects of the components - JS, HTML, styling - inside module
					p Know where to look

				article
					h3 Currently used in production on CertSimple

				article
					h1.big Questions?

				article
					h1.big Thanks
					h2 @mikemaccana
					h2 certsimple.com

				article
					h1 Links
					a(href="http://www.modulecounts.com/" target=_blank) Module counts 
					a(href="https://github.com/gulpjs/gulp/blob/master/docs/recipes/browserify-uglify-sourcemap.md" target=_blank) Browserify + gulp 
					a(href="http://hughsk.io/disc/" target=_blank) Discify 
					a(href="https://github.com/substack/brfs" target=_blank) BRFS
					a(href="https://www.npmjs.com/package/sass-npm" target=_blank) sass-npm
					a(href="https://gist.github.com/mikemaccana/fe5c1a83bcbdc0157534" target=_blank) Sublime prioritise private modules 




